body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: #000;
  line-height: 1.5;
  font-size: 15px;
  overflow-x: hidden;
  min-height: 100%;
}

#info {
  position: relative;
  padding: 10px;
  width: 100%;
  text-align: center;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

html {
  position: relative;
  min-height: 100%;
}

span {
  text-align: center;
  width: 40%;
  display: block;
}

h1 {
  padding: 30px;
  text-align: center;
}

canvas {
  width: 100%;
  height: 100%;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53148/space-texture.jpg');
  background-size: 500px;
}

.imageClass {
  padding: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.divClass {
  padding: 50px;
  border:10px solid salmon;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
