body {
  font-family: 'Courier New', Courier, monospace;
	background-color:#ffffd6;
	height:100%;
  cursor:default;
  line-height: 1.2;
}

html {
  padding: 0;
  margin: 0;
  font-size: 1em;
  line-height: 1.2;
}

html, body{
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.2;
}

pre {
  position: absolute;
  margin:0;
  padding:0;
  left:0;
  top:0;
  width:100%;
  height:100%;
  font-family: inherit;
}

#wrapper {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
}

#sidebar {
  position: sticky;
  width: 98%;
  top: 0px;
  vertical-align: top;
  background-color: rgb(235, 255, 196);
  text-align: center;
  padding: 15px 15px 15px 15px;
}

.centerx,.centery,.centerxy{
	position:absolute;
}

.rel {
  position: relative;
  width: 100%;
  height: 100%;
}

a:link {color:#00f;cursor:pointer;}
a:visited {color:#f0f;}
a:hover {cursor:pointer;-webkit-animation: rt1 0.2s infinite alternate;-moz-animation: rt1 0.2s infinite alternate;animation: rt1 0.2s infinite alternate;}
a:active {color:#fff;}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

#canvas {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.main_cointainer{
  width: 60%;
  margin: auto;
  margin-left:auto; 
  margin-right:auto;
  overflow:hidden;
  /*display: table;*/
}

.intro_container{
  font-size:20px;color:#f09;
  font-weight:500;
	width:700px;height:auto;
	overflow:hidden;
  margin: 40px auto;
  text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.9);
}

.content_container{
  width:700px;height:270px;
  margin: 60px auto;
}

.content_headline {
  font-size:23px;line-height:30px;font-weight:700;
	text-decoration: underline;
	text-decoration-color: #f09;
	color:#f09;
	cursor:pointer;
	position:absolute;
	z-index:500000;
	width:300px;
  text-shadow: -1.5px 1.5px 0px rgba(0, 0, 0, 0.9);
}	

.content_headline:hover{
  text-shadow: -2px 2px 0px rgba(0, 0, 0, 1);
  -webkit-animation: rt1 0.2s infinite alternate;-moz-animation: rt1 0.2s infinite alternate;animation: rt1 0.2s infinite alternate;
}
.content_tags{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size:11px;color:#f09;font-weight:300;
  width:700px;height:auto;
  position:absolute;top:250px;left:0px;
  z-index:5;
}
.content_image_box{
  width:auto;height:250px;
  position:absolute;top:0px;left:0px;
  z-index:1;
}


.side_container{
  width: 150px;
  max-width:150px;
  min-width:150px;
  margin: 0px auto;
  overflow:hidden;
  padding:30px;
  background-color: #00f;
  display: table-cell;
}

@-webkit-keyframes rt1 {0% {color: hsl(354, 100%, 70%);} 15% {color: hsl(300, 100%, 70%);} 30% {color: hsl(255, 100%, 70%);} 45% {color: hsl(212, 100%, 70%);} 60% {color: hsl(172, 100%, 70%);} 75% {color: hsl(130, 100%, 70%);} 90% {color: hsl(55, 100%, 70%);} 100% {color: hsl(21, 100%, 70%);}}
@-moz-keyframes rt1 {0% {color: hsl(354, 100%, 70%);} 15% {color: hsl(300, 100%, 70%);} 30% {color: hsl(255, 100%, 70%);} 45% {color: hsl(212, 100%, 70%);} 60% {color: hsl(172, 100%, 70%);} 75% {color: hsl(130, 100%, 70%);} 90% {color: hsl(55, 100%, 70%);} 100% {color: hsl(21, 100%, 70%);}}
@keyframes rt1 {0% {color: hsl(354, 100%, 70%);} 15% {color: hsl(300, 100%, 70%);} 30% {color: hsl(255, 100%, 70%);} 45% {color: hsl(212, 100%, 70%);} 60% {color: hsl(172, 100%, 70%);} 75% {color: hsl(130, 100%, 70%);} 90% {color: hsl(55, 100%, 70%);} 100% {color: hsl(21, 100%, 70%);}}

.cool {
  -webkit-animation: rt1 0.2s infinite alternate;
  -moz-animation: rt1 0.2s infinite alternate;
  animation: rt1 0.2s infinite alternate;
  cursor: default;
  position: relative;
}

.imageClass {
  padding: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.divClass {
  padding: 50px;
  border:10px solid salmon;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
